In [1]:
words = ['abigail','advice','antic','antismoking']
text = ""
for w in words:
    text = text + " " + w
text

' abigail advice antic antismoking'

In [23]:
[w.upper() for w in words]

['ABIGAIL', 'ADVICE', 'ANTIC', 'ANTISMOKING']

In [21]:
import numpy as np
#scores = np.random.randint(5, 100, size=10)

In [33]:
scores = [87, 47, 39, 36, 6, 57, 82, 45, 90, 89]
p = -1
for i in range(len(scores)):
    if scores[i]==36:
        p = i

In [38]:
names = ['Olivia', 'Emma', 'Ava', 'Charlotte', 'Sophia', 'Amelia',
         'Isabella', 'Mia', 'Evelyn', 'Harper']
scores = [87, 47, 39, 36, 6, 57, 82, 45, 90, 89]
v = 0
results = []
for n,s in zip(names,scores):
    v += s
    results.append(f"{n}: {s}")

In [40]:
results

['Olivia: 87',
 'Emma: 47',
 'Ava: 39',
 'Charlotte: 36',
 'Sophia: 6',
 'Amelia: 57',
 'Isabella: 82',
 'Mia: 45',
 'Evelyn: 90',
 'Harper: 89']

In [30]:
# import pandas as pd
# df = pd.read_csv("../data/baby-names.csv")
# rank = df['rank'].values
# male = df['male'].values
# female = df['female'].values
names =   [[1, 'Liam', 'Olivia'],
           [2, 'Noah', 'Emma'],
           [3, 'Oliver', 'Ava'],
           [4, 'Elijah', 'Charlotte'],
           [5, 'William', 'Sophia'],
           [6, 'James', 'Amelia'],
           [7, 'Benjamin', 'Isabella'],
           [8, 'Lucas', 'Mia'],
           [9, 'Henry', 'Evelyn'],
           [10, 'Alexander', 'Harper']]

In [31]:
rank = [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10]
male = ['Liam', 'Noah', 'Oliver', 'Elijah', 'William', 'James', 'Benjamin',
        'Lucas', 'Henry', 'Alexander']
female = ['Olivia', 'Emma', 'Ava', 'Charlotte', 'Sophia', 'Amelia',
        'Isabella', 'Mia', 'Evelyn', 'Harper']

for

In [32]:
A=[[48, 53, 65, 67, 26],
   [ 4, 74, 12, 56, 97],
   [67, 50, 80, 45,  0],
   [60, 28, 80, 28, 61],
   [21,  1, 37, 58, 45]]

s = 0
n = 5
for i in range(n):
    for j in range(n):
        s += A[i][j]
s

1163

In [16]:
s = 0
n = 5
for i in range(n):
    for j in range(n):
        if i == j:
            s += matrix[i][j]
s

275

In [12]:
np.array(np.random.randint(0, 100, size=25).reshape(5,5))

array([[48, 53, 65, 67, 26],
       [ 4, 74, 12, 56, 97],
       [67, 50, 80, 45,  0],
       [60, 28, 80, 28, 61],
       [21,  1, 37, 58, 45]])